<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= paginate @users %>

<br>

<%= link_to 'アカウント情報', current_user %>
<%= link_to 'アカウント編集', edit_user_registration_path %>
<%= link_to t('views.common.logout'), destroy_user_session_path, method: :delete %>

<br>

<%= link_to "books", books_path %>
