<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.name') %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.email') %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('.zipcode') %>:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong><%= t('.address') %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= t('.description') %>:</strong>
  <%= @user.description %>
</p>

<% if @user == current_user %>
  <%= link_to t('.edit_current_user_info'), edit_user_registration_path %>
<% end %>

<%= link_to t('views.common.back'), :back %>
