<h1>アカウント情報</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= "Name" %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= "Email" %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= "Zipcode" %>:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong><%= "Address" %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= "Description" %>:</strong>
  <%= @user.description %>
</p>

<% if @user == current_user %>
  <%= link_to 'アカウント編集', edit_user_registration_path %>
<% end %>

<%= link_to "Back", :back %>
